{% include 'header.html' %}

<script language="javascript">

    function home() {
        location.href = "/"
    }

    function refresh() {
        location.reload()
    }

</script>

<body>
<div class="wrapper">
    <div class="subtitle">谁是卧底</div>
	<br>
    <div class="item">错误：{{ msg }}</div>
    <br>
    <div class="item">请尝试稍后<a href="javascript:refresh()">刷新</a>页面。</div>
    <br>
    <input type="submit" class="btn" value="主页" onclick="home()"/>
    <br>
    {% include 'author.html' %}
</div>
</body>

{% include 'footer.html' %}
