{% extends "base.html" %}


{% block scripts %}
<script language="javascript">

    function home() {
        location.href = "/"
    }

    function refresh() {
        location.reload()
    }

</script>

{{super()}}
{% endblock %}

{% block content %}
    <h1>谁是卧底</h1>
    <br>
    <div>错误：{{ msg }}</div>
    <br>
    <div>请尝试稍后<a href="javascript:refresh()">刷新</a>页面。</div>
    <br>

    <div class="btn-group-vertical btn-group-lg">
        <button type="button" class="btn btn-primary" onclick="home()">主页</button>
    </div>

{{super()}}
{% endblock %}
