{% extends "base.html" %}


{% block scripts %}
<script language="javascript">

    function create() {
        var num = prompt("请输入游戏人数", "");
        if (num) {
            location.href = "/create/" + num
        }
    }

    function join() {
        var name = prompt("请输入房间代码", "");
        if (name) {
            location.href = "/room/" + name
        }
    }

    function rules() {
        location.href = "/rules/"
    }

    function resume() {
        location.href = "/room/"
    }

</script>

{{super()}}
{% endblock %}

{% block content %}
	<h1>谁是卧底</h1>
    <br>
    <div class="btn-group-vertical btn-group-lg" >
        <button type="button" class="btn btn-primary" onclick="create()">创建房间</button>
        <button type="button" class="btn btn-primary" onclick="join()">加入房间</button>
        <button type="button" class="btn btn-primary" onclick="resume()">继续游戏</button>
        <button type="button" class="btn btn-primary" onclick="rules()">使用说明</button>
    </div>

{{super()}}
{% endblock %}