{% extends "base.html" %}


{% block scripts %}
<script language="javascript">

    function home() {
        location.href = "/"
    }

    function vote() {
        var num = prompt("请输入选举出的卧底的编号", "");
        if (num) {
            location.href = "/vote/" + num
        }
    }

    function change() {
        location.href = "/change/"
        alert("更换成功，请要求其他玩家刷新页面。")
    }

    function refresh() {
        location.reload()
    }

</script>

{{super()}}
{% endblock %}


{% block content %}
    <h1>谁是卧底</h1>
    <br>
    <div>房间代码:{{ room_id }}</div>
    <div>玩家编号:{{ user_num }}</div>
    <div>房间人数:{{ room_total }}</div>
    <div>开始玩家:{{ start }}</div>
    <div>你的词语:{{ word }}</div>
    <br>

    <div class="btn-group-vertical btn-group-lg">
        <button type="button" class="btn btn-primary" onclick="home()">主页</button>
        <button type="button" class="btn btn-primary" onclick="vote()">投票</button>
        <button type="button" class="btn btn-primary" onclick="change()">换词</button>
        <button type="button" class="btn btn-primary" onclick="refresh()">刷新</button>
    </div>

{{super()}}
{% endblock %}