{% extends "base.html" %} {% block scripts %}
<script language="javascript">
    function home() {
        location.href = "/"
    }

    function vote() {
        var num = prompt("请输入选举出的卧底的编号", "");
        if (num) {
            location.href = "/vote/" + num
        }
    }

    function change() {
        location.href = "/change/"
        alert("更换成功，请要求其他玩家刷新页面。")
    }

    function refresh() {
        location.reload()
    }
</script>

{{super()}} {% endblock %} {% block content %}
<div>
    <h1>谁是卧底</h1>
</div>


<table class="table-condensed">
    <tr>
        <th>房间代码:</th>
        <th>{{ room_id }}</th>
    </tr>
    <tr>
        <th>玩家编号:</th>
        <th>{{ user_num }}</th>
    </tr>
    <tr>
        <th>房间人数:</th>
        <th>{{ room_total }}</th>
    </tr>
    <tr>
        <th>开始玩家:</th>
        <th>{{ start }}</th>
    </tr>
    <tr>
        <th>你的词语:</th>
        <th>{{ word }}</th>
    </tr>
</table>
<br>


<div class="text-center">
    <div class="btn-group-vertical btn-group-lg" style="min-width: 90%;">
        <button type="button" class="btn btn-primary" onclick="home()">主页</button>
        <button type="button" class="btn btn-primary" onclick="vote()">投票</button>
        <button type="button" class="btn btn-primary" onclick="change()">换词</button>
        <button type="button" class="btn btn-primary" onclick="refresh()">刷新</button>
    </div>
</div>

{{super()}} {% endblock %}