{% extends "base.html" %}


{% block scripts %}
<script language="javascript">

    function home() {
        location.href = "/"
    }

</script>

{{super()}}
{% endblock %}


{% block content %}
    <h1>使用说明</h1>
    <br>
    <div>
        玩家人数：3-10人<br><br>

        游戏过程：<br>

        <strong>1.创建并加入房间：</strong><br>
        &nbsp;&nbsp;由一名玩家创建一个新房间，其余玩家根据房间代码加入该房间。<br>

        <strong>2.玩家依次发言：</strong><br>
        &nbsp;&nbsp;玩家中有一名卧底，其余玩家均为平民。所有平民拿到的词语均相同，但卧底的词语和平民不同。这时平民与卧底都不知道互相的身份，卧底也不知道自己是卧底。每人用一句话描述自己拿到的词语，最好不要太过明显，既不能让卧底察觉，也要给同伴以暗示。不可以为了掩饰自己的身份说出跟卧底词不搭边的话。从开始玩家开始按照玩家编号有小到大依次发言。<br>

        <strong>3.票选卧底：</strong><br>
        &nbsp;&nbsp;每轮描述完毕，所有在场的人投票选出怀疑的卧底人选，得票最多的人出局。票选完成后由一名玩家点击投票按钮进行投票，若卧底出局，则游戏结束。若卧底未出局，游戏继续。如有两人得票相同，则进入PK，大家再从两人中间投出一个。若卧底撑到最后一轮，则卧底获胜，<br>

        <strong>4.换词：</strong><br>
        &nbsp;&nbsp;如需开始新的一轮，由一名玩家点击换词按钮，其余玩家刷新网页获取新词。
    </div>

    <br>
    
    <div class="btn-group-vertical btn-group-lg">
        <button type="button" class="btn btn-primary" onclick="home()">主页</button>
    </div>

{{super()}}
{% endblock %}
