{% include 'header.html' %}

<script language="javascript">

    function back() {
        location.href = "/room/"
    }

</script>

<body>
<div class="wrapper">
    <div class="subtitle">谁是卧底</div>
	<br>
    <div class="item">
        {{ user_num }}号玩家
        {% if is_spy %}
        是 卧底。平民胜利！
        {% else %}
        不是 卧底。游戏继续！
        {% endif %}
    </div>

    <br>

    <input type="submit" class="btn" value="返回" onclick="back()">

    <br>
    <br>
    <div class="author">作者：<a href="http://www.zhengyi.one">Zhengyi</a></div>
</div>
</body>

{% include 'footer.html' %}
